 @font-face { font-family: Enchanted Land; src: url('Enchanted Land.otf'); }

header {
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Enchanted Land";
  }
  .header {
    overflow: hidden;
    background-color: #41414188;
    margin: auto;
    width: 100%;
  }
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    font-size: 1.6em;
  }
  
  .header a.logo {
    font-size: 3em;
  }
  
  .header a:hover {
    background-color: rgb(82, 82, 82);
    color: white;
  }
  
  .header a.active {
    background-color: #aa2b2b;
    color: white;
  }
  .header-right {
    float: right;
    padding-right: 20px;
  }
  #headroom {
    margin-top: 8em;
  }
  
 input{
     width:40%;
     text-align: center;
     margin-bottom: 10px;
     -webkit-border-radius: 5px;
     border-radius: 5px;
     padding:10px;
 }
  #sessionNotes{
    border-radius: 5px;
  }
  submit{
    border-radius: 5px;
  }
  body{
    margin:0;
    background-image: url("logo.png");
    background-size: 30em;
    max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    font-family: 'IM Fell DW Pica SC', serif;
  } 

  .frame {
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    width: 70%;
    margin: auto;
    padding: 20px;
  }
  h1{
    font-family: "Enchanted Land";
    font-size: 4em;
  }
  h2{
    font-family: "Enchanted Land";
    font-size: 2em;
  }
  p{
      font-size: 1.5em;
  }
